.main{
  height: 540px;
  margin: 30px 0;
}
.main p{
  text-indent: 2em;
  margin: 10px 0;
}
.content{
  margin: 20px 0;
}
.frame{
  float: left;
}
.links{
  margin: 60px 0 0 0;
  width: 410px;
  float: right;
}
