/*样式重置*/
*{
  margin:0;
  padding: 0;
}

/*布局样式开始*/
/*全局样式开始*/
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color:inherit;
}
body{
  width:960px;
  margin: 0 auto;
  font-family: '楷体';
}
.left{
  float: left;
}
.right{
  float: right;
}
.clearfix:after{
  content: "020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  /* 触发 hasLayout */
  zoom: 1;
  }
/*全局样式结束*/
/*公共样式*/
.top,.logo,.regsiter{
  height: 60px;
}
.blog,.guide{
  /*width:479px;*/
  height: 400px;
}
.information a:hover,.blog a:hover,.guide a:hover{
  color:#ff0000;
}
/*公共样式结束*/
/*头部样式开始*/
.top{
  margin: 20px 0 0 0;
}
.logo{
  width:300px;
  float: left;
}
form{
  padding: 10px;
  height: 40px;
}
form .search{
  width:300px;
  height: 38px;
  border:1px solid #999;
  border-right: none;
  padding: 0 10px;
  margin-left: 50px;
  border-radius: 5px 0 0 5px;
}
form .submit{
  width:40px;
  height: 40px;
  border:0;
  cursor: pointer;
  background: #ff7c00;
  border-radius: 0 5px 5px 0;
  background-image: url(../image/search.png);
}
.regsiter{
  width:220px;
  float: right;
  line-height: 60px;
}
.regsiter span{
  display: inline-block;
  width:60px;
  text-align: center;
}
.regsiter span a{
  color:  #ff7c00;
  font-size: 16px;
}

/*头部样式结束*/
/*主体样式开始*/
/*欢迎伸缩*/
#welcome{
  z-index: 1000;
  width:960px;
  height: auto;
  background: url(../image/index/02.jpeg);
}
#welcome p{
  z-index: 1000;
  color: #fff;
  height: 400px;
  line-height: 400px;
  text-align: center;
  font-size: 100px;
}
/*导航*/
nav{
  background:#146dd2;
  margin: 20px 0;
}
nav a{
  display: block;
}
nav ul li{
  float: left;
  width:20%;
  line-height: 48px;
  text-align: center;
  position: relative;
}
nav ul li:hover{
  background: #ef8c34;
}
nav ul li:hover ul{
  display: block;
  z-index: 999;
  position: absolute;
  background: #146dd2;
}
nav ul li ul{
  display: none;
  width:100%;
}
nav ul li ul li{
  width:100%;
  float: none;
  cursor: pointer;
}
nav ul li ul li a{
  color:#fff;
}
nav ul li ul li:hover a{
  color:#000;
}
/*弹窗遮罩*/
#mask{
  background: #000;
  top:0;
  left: 0;
  width:100%;
  height: auto;
  z-index: 1000;
  opacity: 0.7;
  position: absolute;
}
#login{
  background: #fff;
  position: fixed;
  display: none;
  top:30%;
  left:30%;
  width:350px;
  height: 250px;
  z-index: 1001;
}
#close{
  width:20px;
  height:20px;
  background: url(../image/close.png) no-repeat;
}
/*.loginCon{
	width:350px;
	height: 250px;
	border:1px solid #ccc;
	position: absolute;
	display: none;
	z-index: 9999;
  top:45%;
  left: 45%;
	background: #fff;
}*/
#login h2{
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	color: #666;
	background: url(../image/index/login_header.png) repeat-x;
	border-bottom: 1px solid #ccc;
}
#login h2 img{
	float: right;
	position: relative;
	top:14px;
	right:8px;
	cursor: pointer;
}
#login .user,#login .pass{
	font-size: 14px;
	color: #666;
	padding:5px 0;
	text-align: center;
}
#login input.text{
	width:200px;
	height:25px;
	border:1px solid #ccc;
	background: #fff;
	font-size: 14px;
}
#login .button{
	text-align:center;
	padding: 20px 0;
}
#login .submit{
	width:107px;
	height:30px;
	background: url(../image/index/login_button.png) no-repeat;
	border:none;
	cursor:pointer;
}
#login .other{
	text-align: right;
	padding: 20px 10px;
	color: #666;
}
/*导航结束*/
/*content1开始*/
.content1,.introduce,.carousel,.information{
  height: 240px;
}
.content1{
  margin: 20px 0;
  position: relative;
}
/*轮播*/
.carousel{
  position: relative;
  overflow: hidden;
  width: 550px;
  /*background: #444;*/
}
#list{
  position: absolute;
  left: -550px;
  width:3850px;
  z-index: 1;
  height:240px;
}
#list img{
  float: left;
  /*用于清除img之间的间隔*/
}
#dots{
  position: absolute;
  bottom: 10px;
  left: 45%;
  width:100px;
  z-index: 2;
}
#dots span{
  display: inline-block;
  background: #000;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  cursor: pointer;
}
#dots .on{
  background: orangered;
}
.carousel a{
  position: absolute;
  background: rgba(0,0,0,.3);
  color: #fff;
  width: 30px;
  line-height: 30px;
  font-size: 24px;
  text-align: center;
  top: 100px;
}
.carousel a:hover{
  background: rgba(0,0,0,.7);
}
#prev{
  z-index: 2;
  left: 10px;
}
#next{
  z-index: 2;
  right:10px;
}
/*资讯*/
.information{
  width:400px;
  background: #eee;
  position: absolute;
  right:0;
  top:0;
  border-radius: 10px;
}
.information h2{
  padding: 10px;
  background: #ce2438;
  border-radius: 10px 10px 0 0;
  text-align: center;
}
.information ul li{
  padding: 4px 10px;
  overflow: hidden;
}
.information ul li a{
  float: left;
  display: block;
  width:280px;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow: hidden;
}
.information ul li span{
  float:right;
  color:#bab7b7;
  font-size: 12px;

}
#information{
  overflow: hidden;
  height: 190px;
}
/*content1结束*/

/*content2开始*/
.content2{
  margin:20px 0 0 0;
}
.content2 h2{
  padding: 5px;
}
/*博客专区开始*/
.blog{
  width:509px;
  border-right: 1px dashed #999;
}
.blog ul li{
  width: 400px;
  border-bottom: 1px solid #ccc;
  padding: 8px 20px;
}
.blog ul li:last-child{
  border: 0;
}
/*博客专区结束*/
/*指南专区开始*/
.guide{
  width:410px;
}
.guide ul li{
  width: 400px;
  padding: 6px;
}
.guide ul li:nth-child(2n){
  background: #e9e9e9;
}

/*指南专区结束*/
/*content2结束*/

.ad img{
  border-radius: 10px;
}
/*主体样式结束*/

/*底部样式开始*/
.friendlink{

}
.foot{
  width:600px;
  font-size: 14px;
  color:#999;
  text-align: center;
  line-height: 20px;
  /*background: #4d4;*/
  margin:10px auto;
}
.foot a{
  color:#999;
}
/*底部样式结束*/
